.mining-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #7e8b09;
    color: white;
    font-size: 14px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .mining-btn:hover {
    background: #9dad0b;
  }
  
  .rock-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
  